.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.nav h4 {
    font-size: 20px;
    margin-left: 5px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: black;
}